<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quản lý web</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
 
  <style>
    .custom-color {
      background-color: #004d4c !important;
    }
    .list-group-item:hover {
      background-color: #004d4c !important;
    }
    .line-through {
        text-decoration: line-through;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark custom-color">
    <a class="navbar-brand" href="#">Picsum Photo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <!-- Vertical Tabs -->
      <div class="col-md-3 col-12">
        <div class="list-group" id="v-pills-tab" role="tablist">
          <h3>Thêm</h3>
          <a class="list-group-item list-group-item-action" id="v-pills-category-tab" data-toggle="pill" href="#v-pills-category" role="tab">Thêm loại</a>
          <a class="list-group-item list-group-item-action" id="v-pills-shoe-size-tab" data-toggle="pill" href="#v-pills-shoe-size" role="tab">Cỡ giày</a>
          <a class="list-group-item list-group-item-action active" id="v-pills-add-tab" data-toggle="pill" href="#v-pills-add" role="tab">Thêm sản phẩm</a>
          <a class="list-group-item list-group-item-action" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab">Nhập Tài Khoản</a>
          <h3>Quản lý</h3>
          <a class="list-group-item list-group-item-action" id="v-pills-category-tab" data-toggle="pill" href="#v-pills-categoryy" role="tab">Quản lý loại</a>
          <a class="list-group-item list-group-item-action" id="v-pills-size-tab" data-toggle="pill" href="#v-pills-size" role="tab">Quản lý cỡ giày</a>
          <a class="list-group-item list-group-item-action" id="v-pills-products-tab" data-toggle="pill" href="#v-pills-products" role="tab">Quản lý sản phẩm</a>
          <a class="list-group-item list-group-item-action" id="v-pills-users-tab" data-toggle="pill" href="#v-pills-users" role="tab">Quản lý người dùng</a>
       
        </div>
      </div>

      <!-- Tabs Content -->
      <div class="col-md-9 col-12">
        <div class="tab-content" id="v-pills-tabContent">
          <!-- Thêm sản phẩm tab -->
          <div class="tab-pane fade show active" id="v-pills-add" role="tabpanel">
            <h2>Thêm sản phẩm</h2>
            <form action="/addProduct" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="productName">Tên sản phẩm</label>
                <input type="text" class="form-control" id="productName" name="productName1"
                  placeholder="Nhập tên sản phẩm" required>
              </div>
              <div class="form-group">
                <label for="productPriceNew">Giá mới</label>
                <input type="number" class="form-control" id="productPriceNew" name="productPriceNew1"
                  placeholder="Nhập giá mới" required>
              </div>
              <div class="form-group">
                <label for="productPriceOld">Giá cũ</label>
                <input type="number" class="form-control" id="productPriceOld" name="productPriceOld1"
                  placeholder="Nhập giá cũ" required>
              </div>
              <div class="form-group">
                <label for="productNumber">Số lượng</label>
                <input type="number" class="form-control" id="productNumber" name="productNumber1"
                  placeholder="Nhập số lượng" required>
              </div>
              <div class="form-group">
                <label for="productDescription">Mô tả sản phẩm</label>
                <textarea class="form-control" id="productDescription" name="productDescription1" rows="3"
                  required></textarea>
              </div>
              <div class="form-group">
                <label for="productImage">Hình ảnh sản phẩm</label>
                <input type="file" name="avatar1" id="productImage" accept=".jpg, .jpeg, .png" required>
              </div>
              <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
            </form>
          </div>

          <!-- Thêm loại tab -->
          <div class="tab-pane fade" id="v-pills-category" role="tabpanel">
            <h2>Thêm loại</h2>
            <form action="/addCategory" method="post">
              <div class="form-group">
                <label for="categoryName">Loại</label>
                <input type="text" class="form-control" id="categoryName" name="categoryName"
                  placeholder="Nhập tên loại" required>
              </div>
              <button type="submit" class="btn btn-primary">Thêm loại</button>
            </form>
          </div>

          <!-- Cỡ giày tab -->
          <div class="tab-pane fade" id="v-pills-shoe-size" role="tabpanel">
            <h2>Cỡ giày</h2>
            <form action="/addShoeSize" method="post">
              <div class="form-group">
                <label for="shoeSize">Cỡ giày</label>
                <input type="text" class="form-control" id="shoeSize" name="shoeSize" placeholder="Nhập cỡ giày"
                  required>
              </div>
              <button type="submit" class="btn btn-primary">Thêm cỡ giày</button>
            </form>
          </div>

          <!-- Nhập Tài Khoản tab -->
          <div class="tab-pane fade" id="v-pills-account" role="tabpanel">
            <h2>Nhập Tài Khoản</h2>
            <form action="/addAccount" method="post">
              <div class="form-group">
                <label for="username">Tên đăng nhập</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Nhập tên đăng nhập"
                  required>
              </div>
              <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu"
                  required>
              </div>
              <div class="form-group">
                <label for="birthYear">Năm sinh</label>
                <input type="number" class="form-control" id="birthYear" name="birthYear" placeholder="Nhập năm sinh"
                  required>
              </div>
              <div class="form-group">
                <label>Giới tính</label>
                <div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="genderMale" value="Male" required>
                    <label class="form-check-label" for="genderMale">Nam</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="Female" required>
                    <label class="form-check-label" for="genderFemale">Nữ</label>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Thêm tài khoản</button>
            </form>
          </div>
          
          <!-- Quản lý người dùng tab -->
          <div class="tab-pane fade" id="v-pills-categoryy" role="tabpanel">
            <h2>Quản lý loại</h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Loại</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
              
              </tbody>
            </table>
          </div>

          <!-- Quản lý người dùng tab -->
          <div class="tab-pane fade" id="v-pills-size" role="tabpanel">
            <h2>Quản lý cỡ giày</h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>cỡ giày</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
              
              </tbody>
            </table>
          </div>


     <!-- Quản lý sản phẩm tab -->
          <div class="tab-pane fade" id="v-pills-products" role="tabpanel">
            <h2>Quản lý sản phẩm</h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Tên</th>
                  <th>Ảnh</th>
                  <th>Giá mới</th>
                  <th>Giá cũ</th>
                  <th>Mô tả</th>
                  <th>Số lượng</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <%function formatCurrency(value) { return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ); } %>
              
                  <% let index=1; %>
                    <% data.forEach((item)=> { %>
                      <tr>
                        <td>
                          <%= index %>
                        </td>
                        <td class="font-weight-bold">
                          <%= item.name %>
                        </td>
                        <td><img width="120px" height="80px" src="<%= item.avartarFile[0] %>" alt="<%= item.author %>">
                        </td>
                        <td class="text-danger">
                          <%= formatCurrency(item.priceNew) %> VND
                        </td>
                        <td class="font-weight-light line-through">
                          <%= formatCurrency(item.priceOld) %> VND
                        </td>
                        <td>
                          <%= item.description %>
                        </td>
                        <td>
                          <%= formatCurrency(item.number) %>
                        </td>
                        <!-- Chú ý: Bạn cũng có thể muốn thay thế số cứng này bằng số lượng thực sự của sản phẩm -->
                        <td>
                          <button class="btn btn-primary">Sửa</button>
                          <form action="/delete" method="get">
                            <input type="hidden" name="id" id="" value="<%= item._id %>">
                            <button type="submit" class="update-delete">xóa</button>
                          </form>
                        </td>
                      </tr>
                      <% index++; %>
                        <% }) %>
              </tbody>
            </table>
          </div>

          <!-- Quản lý người dùng tab -->
          <div class="tab-pane fade" id="v-pills-users" role="tabpanel">
            <h2>Quản lý người dùng</h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Họ tên</th>
                  <th>Mật khẩu</th>
                  <th>Trạng thái</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script>
    function formatCurrency(value) {
      return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
